<body>
  <div class="wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2240.6900937232394!2d49.05304869832987!3d55.83333820455736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415952ec89fd2bf3%3A0x4b22966b68a65ce6!2z0YPQuy4g0JLQvtGB0YHRgtCw0L3QuNGPLCAxMDAsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIwMTEx!5e0!3m2!1sru!2sru!4v1684253549932!5m2!1sru!2sru"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="container">
      <div class="mini-container">
        <div class="ico">
          <i class="fa fa-map-marker ico-contact"></i>
          <h3>
              Адрес
          </h3>
        </div>
        <p>
          420095, Республика Татарстан, г. Казань, тер. Химград, д. 167, помещ. 1102
        </p>
      </div>

      <div class="mini-container non">
        <div class="ico2">
          <h3>
            Электронная почта
          </h3>
          <i class="fa fa-envelope ico-contact"></i>
        </div>
        <p  class="p-link"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=zaripova.melitak@gmail.com&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          e-mail отдела продаж: zaripova.melitak@gmail.com
        </p>
        <p class="p-link"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=contact@melitak.ru&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          e-mail администрации: contact@melitak.ru
        </p>
        <p class="p-link-mobile"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=melitak@yandex.ru&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          melitak@yandex.ru
        </p>
        <p class="p-link-mobile-new"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=melitak@yandex.ru&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          melitak@yandex.ru
        </p>
      </div>

      <div class="mini-container-mobile">
        <div class="ico">
          <i class="fa fa-envelope ico-contact"></i>
          <h3>
            Электронная почта
          </h3>
        </div>
        <p  class="p-link"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=zaripova.melitak@gmail.com&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          e-mail отдела продаж: zaripova.melitak@gmail.com
        </p>
        <p class="p-link"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=contact@melitak.ru&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          e-mail администрации: contact@melitak.ru
        </p>
        <p class="p-link-mobile"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=melitak@yandex.ru&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          melitak@yandex.ru
        </p>
        <p class="p-link-mobile-new"  (click)="GoTo('https://mail.yandex.ru/compose?mailto=melitak@yandex.ru&subject=Здравствуйте!&body=Хочу поинтересоваться...')">
          melitak@yandex.ru
        </p>
      </div>

      <div class="mini-container">
        <div class="ico">
          <i class="fa fa-clock ico-contact"></i>
          <h3>
              Режим работы
          </h3>
        </div>
        <p>
          Режим работы - с Понедельника по Пятницу с 7:00 до 15:45<br>
          Обеденный перерыв - c 11:00 до 11:45
        </p>
      </div>

      <div class="mini-container non">
        <div class="ico2">
          <h3>
            Телефоны в Казани
          </h3>
          <i class="fa fa-phone ico-contact"></i>
        </div>
        <div class="mobile">
          <p class="special">
            Телефон/факс:<br>
          </p>
          <p>
                        +7(843)212-51-58<br>
                        +7(843)212-51-59<br>
          </p>
          <p class="special">
            Отдел продаж
          </p>
        </div>
        <div>
          <p>
            Вы всегда можете связаться с нами по одному из телефонов для подробного обсуждения деталей
          </p>
        </div>
      </div>


      <div class="mini-container-mobile">
        <div class="ico">
          <i class="fa fa-phone ico-contact"></i>
          <h3>
            Телефоны в Казани
          </h3>
        </div>
        <div class="mobile">
          <p class="special">
            Телефон/факс:<br>
          </p>
          <p>
                        +7(843)212-51-58<br>
                        +7(843)212-51-59<br>
          </p>
          <p class="special">
            Отдел продаж
          </p>
        </div>
        <div>
          <p>
            Вы всегда можете связаться с нами по одному из телефонов для подробного обсуждения деталей
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
