
<div class="container">
  <app-title *ngIf="orders && orders.length"  title="Ваши заявки" margin="1.5rem 1rem 0 2.5rem"></app-title>
  <app-not-found
    [visible]="!orders || !orders.length"
    notFoundMessage="Вы еще не оформили ни одной заявки :("
    resetLinkText="Перейти в корзину"
    resetLinkRoute="/home/cart-page">
  </app-not-found>



  <ng-container *ngFor="let order of orders; let i = index" class="content">
    <hr/>

    <div class="each-order">
      <div class="summary">
        <div class="visible-div">
          <div class="text-id">
            <h3>№:</h3>
            <span class="span-yellow">{{order.id}}</span>
          </div>
          <i *ngIf="i!=indexHidden" (click)="indexHidden=i" class="fa fa-caret-down" aria-hidden="true"></i>
          <i *ngIf="i==indexHidden" (click)="indexHidden=-1" class="fa fa-caret-up" aria-hidden="true"></i>
        </div>
        <div class="text-status">
          <h3>Статус:</h3>
          <span class="span-yellow">&nbsp;&nbsp;&nbsp;{{order.status}}</span>
        </div>
        <div class="text-data">
          <h3>Дата:</h3>
          <span class="span-yellow">&nbsp;&nbsp;&nbsp;{{order.createdAt | date:'dd-MM-yyyy HH:mm'}}</span>
        </div>
        <div class="details" *ngIf="i==indexHidden">
            <div>
              <h3>Имя:</h3>
              <span>&nbsp;&nbsp;&nbsp;{{order.name}}</span>
            </div>
            <div>
              <h3>Телефон:</h3>
              <span>{{order.phone}}</span>
            </div>
            <div>
              <h3>Почта:</h3>
              <span>&nbsp;&nbsp;&nbsp;{{order.email}}</span>
            </div>
        </div>
        <order-items-list *ngIf="i==indexHidden" [order]="order"></order-items-list>
      </div>
    </div>

  </ng-container>
</div>
