<div class="content">
  <div class="container-mini">
    <div class="minic">
      <p>
        Опираясь на применение собственных технологий и промышленную кооперацию, для силовых агрегатов был успешно освоен серийный выпуск и реализация таких комплектующих, как:
        Лопатки направляющих и спрямляющего аппарата компрессора авиационного двигателя ТВ3-117/ ВК-2500;
        Направляющие и спрямляющий аппарат компрессора авиационного двигателя ТВ3-117/ ВК-2500;
        Заготовка вала турбины авиационного двигателя ТВ3-117/ ВК-2500 («Конус»).
        </p>
    </div>
  </div>

  <div class="main">
<!-- 1     -->
    <div id="c1" class="container" (click)="open('c1')">
      <div  class="each">
        <div class="container-left ">
          <div class="minics ">
            <h2>
              УНИКАЛЬНОСТЬ ТЕХНОЛОГИЙ
            </h2>
            <p id="p1" class="block-with-text">
              Уникальность применяемых технологий подтверждена следующими патентами:
              «Использование метода штамповки с обкаткой при холодном деформировании металла»,
              патент № 2393935, № 2338615, № US 9.032.770; «Способ получения закругленной кромки детали»,
              патент № 2373018, № US 8.607.606; «Способ изготовления лопатки газотурбинного двигателя»,
              патент № 2524023, № 2524452.</p>
          </div>
        </div>
        <div class="container-right ">
          <div class="container-image-right" style="background-image: url('assets/proizvodstvo/1a.jpg');"></div>
        </div>
      </div>
    </div>
<!-- 2 -->
    <div id="c2" class="container" (click)="open('c2')">
      <div  class="each">
        <div class="container-right reverse-logo ">
          <div class="container-image-left" style="background-image: url('assets/proizvodstvo/2a.jpg');">
          </div>
        </div>
        <div class="container-left reverse-name">
          <div  class="minics reverse">
            <h2>
              ПОВЫШЕНИЕ КАЧЕСТВА ЛОПАТКИ НА
            </h2>
            <p id="p2" class="block-with-text">
              С уменьшением размера зерен увеличились пределы текучести, прочности, твердость, усталостная прочность и ударная вязкость, тем самым повысились прочностные характеристики и эксплуатационные свойства лопатки.
              <br>
              Проводимая успешная работа позволила АО «Мелита-К» завоевать доверие таких крупнейших российских моторостроительных предприятий как: АО «ОДК Климов»; АО «ОДК» (АО «НПЦ газотурбостроения «Салют»); Авиаремонтные предприятия Объединенной двигателестроительной корпорации.
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- 3 -->
    <div id="c3" class="container" (click)="open('c3')">
      <div  class="each">
        <div class="container-left ">
          <div class="minics ">
            <h2>
              ЛОПАТКИ НАПРАВЛЯЮЩИХ И ТВ3-117/ ВК-2500
            </h2>
            <p id="p3" class="block-with-text">
            Применение специального оборудования (собственной разработки и изготовления) для формообразования сложно-профильных поверхностей позволило: изготавливать беззамковые лопатки с толщиной кромки до 0,1 мм; получать лопатки с переменным С мах по высоте.
            <br>Лопатки производства АО «Мелита-К» обладают:
            <br>1.высокой точностью по 2 классу 02571-86 "Лопатки компрессоров и турбин".
            <br>2.шероховатостью поверхности Ra 0,4;
            <br>3.стабильностью технологического процесса.
            <br>Данные особенности и методы позволяют получать стабильный профиль лопатки с заданными газодинамическими параметрами.
            </p>
          </div>
        </div>
        <div class="container-right ">
          <div class="container-image-right" style="background-image: url('assets/proizvodstvo/3a.jpg');"></div>
        </div>
      </div>
    </div>
<!-- 4 -->
    <div id="c4" class="container" (click)="open('c4')">
      <div  class="each">
        <div class="container-right reverse-logo ">
          <div class="container-image-left" style="background-image: url('assets/proizvodstvo/4a.jpg');">
          </div>
        </div>
        <div class="container-left reverse-name">
          <div  class="minics reverse">
            <h2>
              НАПРАВЛЯЮЩИЕ И ТВ3-117/ ВК-2500
            </h2>
            <p id="p4" class="block-with-text">
              Неразъемное соединение лопаток направляющего и спрямляющего аппарата с их обоймами достигается лазерной сваркой, имеющей ряд преимуществ перед пайкой:
              <br>1.высокая прочность соединения;
              <br>2.отсутствие галтели (от выхода расплавленного металла) в газовоздушном тракте двигателя;
              <br>3.меньшая трудоёмкость;
              <br>4.повышенная коррозионная стойкость соединения;
              <br>5.автоматизация процесса.
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- 5 -->
    <div id="c5" class="container" (click)="open('c5')">
      <div  class="each">
        <div class="container-left ">
          <div class="minics ">
            <h2>
              ЗАГОТОВКА ТУРБИНЫ ТВ3-117 / ВК-2500 («Конус»)
            </h2>
            <p id="p5" class="block-with-text">
              Технология глубокой вытяжки (обработка металла холодной штамповкой) и прессования позволяет за 3 операции (вместо стандартных 6-8) получить из листового материала заготовку вала турбины. Данная технология исключает образование гофр. Внутреннее напряжение материала – отсутствует.
            </p>
          </div>
        </div>
        <div class="container-right ">
          <div class="container-image-right" style="background-image: url('assets/proizvodstvo/5a.jpg');"></div>
        </div>
      </div>
    </div>
  </div>


</div>
