.div-c {
  position: sticky ;
  display:flex;
  flex-direction: column;
}
.container1 {
  top: 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-top:2%;
  background-color:rgba(26, 34, 36, 1);
  z-index: 100;
  padding-bottom: 0px;
  display: none;
}
.container3 {
  top: 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-top:0px;
  background-color:rgba(26, 34, 36, 1);
  z-index: 100;
  padding-bottom: 0px;
  display: none;
}
.container2 {
  top: 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 170px;
  padding-top:0px;
  background-color:rgba(26, 34, 36, 1);
  z-index: 100;
  padding-bottom: 0px;
}

.wrapper-center {
  height:100%;
  width:35vw;
}
.wrapper-left {
  height:100%;
  width:32.5vw;
}
.wrapper-right {
  height:100%;
  width:32.5vw;
}
.wrapper-center-top {
display:flex;
width:100%;
align-items: center;
justify-content: center;
height:100%;
}

.logo {
  height:110px;
  object-fit: cover;
  cursor: pointer;
}

.wrapper-center-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  height:50%;
  padding-right:20px;

}

.wrapper-right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100%;
  margin-right: 15%;
}
.wrapper-left-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100%;
  margin-left: 15%;
}

.menu-item {
  color:rgba(244, 244, 244, 1);
  font-size: 18px;
  cursor: pointer;
}
.menu-item:hover {
  color: rgba(255, 208, 80,1);
  text-decoration: none;
}
.links {
  color:rgba(244, 244, 244, 1);
  text-decoration: none;
}
  .links:hover {
    color: rgba(255, 208, 80,1);
    text-decoration: none;
  }

.b {
color:rgba(244, 244, 244, 1);
font-size: 14px;
padding-left:25px;
}

.line {
  font-size: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
}

 .social-media i {
   font-size: 30px;
   cursor: pointer;
   color: rgba(255, 208, 80, 0.502);
   color:rgba(244, 244, 244, 0.687);
 }
   .social-media i:hover {
     color: rgba(255, 208, 80,1);
   }


  @media (max-width: 900px) {

    .container1 {
      display: flex;
    }
    .container3 {
      display: flex;
    }
    .container2 {
      height: 110px;
    }
    .container2 .wrapper-left {
      visibility: hidden;
    }
    .container2 .wrapper-right {
      visibility: hidden;
    }
    .container3 .wrapper-left {
      width: 30vw;
    }
    .container3 .wrapper-right {
      width: 30vw;
    }
    .container3 .wrapper-center {
      width: 40vw;
    }
   }

   @media (max-width: 600px) {
    .container3 .wrapper-left {
      width: 20vw;
    }
    .container3 .wrapper-right {
      width: 20vw;
    }
    .container3 .wrapper-center {
      width: 60vw;
    }

    .container1 .wrapper-left {
      width: 44vw;
    }
    .container1 .wrapper-right {
      width: 54vw;
    }
    .container1 .wrapper-center {
      width: 2vw;
    }
    .container1 .wrapper-left .social-media i {
      font-size: 20px;
    }
    .container1 .wrapper-left .social-media .line {
      font-size: 15px;
    }
    .menu-item {
      font-size: 16px;
    }
   }
