<div class="div-c">
<div class="container1">
  <div class="wrapper-left">
      <div class="social-media" style="margin-left: 15%;">
        <i class="fab fa-vk"  (click)="GoTo('https://vk.com/melitak')"></i>
        <div class="line">|</div>
        <i class="fab fa-telegram" (click)="GoTo('https://web.telegram.org/k/#@melitak1996')"></i>
      </div>
  </div>
   <div class="wrapper-center">
     <div class="wrapper-center-top">
     </div>
   </div>
     <div class="wrapper-right">
          <div  class="menu-item"  style="text-align: right; margin-right: 15%; cursor:auto;">+7 (843) 212-51-58</div>
    </div>
</div>

<div class="container2">
  <div class="wrapper-left">
    <div class="wrapper-left-top">
      <div class="social-media">
        <i class="fab fa-vk"  (click)="GoTo('https://vk.com/melitak')"></i>
        <div class="line">|</div>
        <i class="fab fa-telegram" (click)="GoTo('https://web.telegram.org/k/#@melitak1996')"></i>
      </div>
      <div  class="menu-item" routerLink="/start/about-company" style="text-align: right;">О компании</div>
    </div>
  </div>
   <div class="wrapper-center">
     <div class="wrapper-center-top">
       <img class="logo"  src="assets/logo/лог.png" routerLink="/start"/>
     </div>
   </div>
     <div class="wrapper-right">
         <div class="wrapper-right-top">
          <div class="menu-item" routerLink="/start/contacts" style="text-align: left;">Контакты</div>
          <div  class="menu-item"  style="text-align: right; cursor:auto;">+7 (843) 212-51-58</div>
          </div>
    </div>
</div>

<div class="container3">
  <div class="wrapper-left">
    <div class="wrapper-left-top">
    </div>
  </div>
   <div class="wrapper-center">
      <div class="wrapper-center-top" style="justify-content: space-evenly;">
      <div  class="menu-item" routerLink="/start/about-company" style="text-align: right;">О компании</div>
      <div class="menu-item" routerLink="/start/contacts" style="text-align: left;">Контакты</div>
     </div>
   </div>
     <div class="wrapper-right">
        <div class="wrapper-right-top">
        </div>
    </div>
</div>

</div>
