<div class="content">
  <div class="container-mini">
    <div class="minic">
      <h3>
        Услуги по металлообработке
      </h3>
      <p>
        Комплексный подход, использование передовых методик обработки металла и внимание к мельчайшим деталям гарантируют высокое качество, надежность и долговечность каждого изделия, выпускаемого под брендом "Мелита-К".
      </p>
    </div>
  </div>


  <div class="main">
    <!-- 1     -->
    <div id="c1" class="container" (click)="open('c1')">
      <div  class="each">
        <div class="container-left ">
          <div class="minics ">
            <h2>
              Нанесение серрейторной заточки
            </h2>
            <p id="p1" class="block-with-text">
              Высокоточная обработка лезвий ножей с помощью серрейторной заточки придает им дополнительную остроту и эффективность. Этот метод позволяет создавать зубчатые кромки, улучшающие резательные свойства изделий.            </p>
          </div>
        </div>
        <div class="container-right ">
          <div class="container-image-right" style="background-image: url('assets/proizvodstvo/1n.jpg');"></div>
        </div>
      </div>
    </div>

        <!-- 2 -->
        <div id="c2" class="container" (click)="open('c2')">
          <div  class="each">
            <div class="container-right reverse-logo ">
              <div class="container-image-left" style="background-image: url('assets/proizvodstvo/2n.jpg');">
              </div>
            </div>
            <div class="container-left reverse-name">
              <div  class="minics reverse">
                <h2>
                  Ультразвуковая ковка по технологии BoLi
                </h2>
                <p id="p2" class="block-with-text">
                  Наша компания предлагает уникальную технологию ультразвуковой ковки, позволяющую добиться высокой прочности и износостойкости металлических изделий. Этот метод обеспечивает точность формы и превосходную структуру материала.
                </p>
              </div>
            </div>
          </div>
        </div>

    <!-- 3     -->
        <div  id="c3" class="container" (click)="open('c3')">
          <div  class="each">
            <div class="container-left ">
              <div class="minics ">
                <h2>
                  Гравировка
                </h2>
                <p id="p3" class="block-with-text">
                  Художественная гравировка – эффективный способ украшения и индивидуализации ножевых и авиационных изделий. Наши мастера создают уникальные орнаменты и надписи, подчеркивающие стиль и престиж продукции.                </p>
              </div>
            </div>
            <div class="container-right ">
              <div class="container-image-right" style="background-image: url('assets/proizvodstvo/1n.jpg');"></div>
            </div>
          </div>
        </div>
    <!-- 4 -->
        <div id="c4"  class="container" (click)="open('c4')">
          <div  class="each">
            <div class="container-right reverse-logo ">
              <div class="container-image-left" style="background-image: url('assets/proizvodstvo/2n.jpg');">
              </div>
            </div>
            <div class="container-left reverse-name">
              <div  class="minics reverse">
                <h2>
                  Линзовидные спуски
                </h2>
                <p id="p4"  class="block-with-text">
                  Наша компания применяет передовые технологии обработки металла, в том числе создание линзовидных спусков, которые придают изделиям особую элегантность и визуальную привлекательность. Этот метод также улучшает режущие свойства лезвий.
                </p>
              </div>
            </div>
          </div>
        </div>
</div>
