<div *ngIf="!w" class="main-div">
  <input #s type="text" placeholder="Что вы ищете?"
   (keyup.enter)="searching(s.value)"
   [value]="search" />
  <button (click)="searching(s.value)"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>

<div *ngIf="w" class="main-div-w">
  <input #s type="text" placeholder="Что вы ищете?"
   (keyup.enter)="searching(s.value)"
   [value]="search" />
  <button class="button-w" (click)="searching(s.value)"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>
