<head>
  <script src="https://kit.fontawesome.com/9ebb82abd8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
  <div class="container-main">
    <div class="container">
      <div class="center">
        <h3 class="title">Полезные ссылки</h3>
        <ul class="list">
          <li class="list-item" routerLink="/manage">Товары</li>
          <li class="list-item" routerLink="/manage/orders">Заявки</li>
        </ul>
      </div>
      <div class="right">
        <h3 class="title">Данные компании</h3>
        <div class="contact-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <div> 420095, Республика Татарстан, г. Казань, ул. Восстания, д. 100, (территория ООО «Химград»).        </div>
        </div>
        <div class="contact-item">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <div> +7(843)212-51-58        </div>
        </div>
        <div class="contact-item">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <div> melitak@yandex.ru        </div>
        </div>
        <div class="social-media">
          <i class="fab fa-vk"></i>
          <i class="fab fa-telegram"></i>
        </div>
      </div>
    </div>
  </div>
</body>


<!-- <body>
    <footer class="myfooter">
        <div class="footer-right">
            <a href="https://wapp.click/79874162330"><i class="fab fa-whatsapp"> </i></a>
            <a href="https://www.instagram.com/sens.a.t/"><i class="fab fa-instagram"></i></a>
            <a href="https://t.me/greentess"><i class="fab fa-telegram"></i></a>
        </div>

        <div class="footer-left">
            <p class="footer-links" >
                <a class="link-1" routerLink="/mainpage">Главная</a>
                <a routerLink="/catalog">Каталог</a>
                <a routerLink="/contacts">Контакты</a>

                <a routerLink="/cart-page">Корзина</a>
            </p>
            <p>CERAMIC vibes &copy; 2022</p>
        </div>

    </footer>
</body> -->



