<div class="container">
  <div class="details">
    <app-title title="Регистрация"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
      [control]="fc.name"
      [showErrorsWhen]="isSubmitted"
      label="Имя">
    `</text-input>

    <text-input
    [control]="fc.email"
    [showErrorsWhen]="isSubmitted"
    label="Почта"
    type="email">
  `</text-input>


  <text-input
  [control]="fc.password"
  [showErrorsWhen]="isSubmitted"
  label="Пароль"
  type="password">
`</text-input>

<text-input
[control]="fc.confirmPassword"
[showErrorsWhen]="isSubmitted"
label="Подтверждение пароля"
type="password">
`</text-input>


<text-input
[control]="fc.phone"
[showErrorsWhen]="isSubmitted"
label="Телефон">
`</text-input>

<default-button text="Регистрация"></default-button>

<div class="login">
  Уже есть аккаунт? &nbsp;
  <a routerLink="/home/login" [queryParams]="{returnUrl: returnUrl}">
    Авторизуйтесь
  </a>
</div>


    </form>
  </div>
</div>
