<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="body">

  <div class="crd"  routerLink="/home/" >
    <div class="crd-img"
      style='background-image: url("assets/categories/Knives.jpg");'>
    </div>
    <div class="crd-info">
      <h2 class="crd-heading">Производство ножевой продукции</h2>
    <!--   <p class="crd-text">Подробнее...</p> -->
    </div>
  </div>
<!--   <div class="crd"  routerLink="/start/company-avia" > -->
  <div class="crd" routerLink="/start/mainpage-avia"  >
    <div class="crd-img"
      style='background-image: url("assets/categories/Avias.jpg");'>
    </div>
    <div class="crd-info">
      <h2 class="crd-heading">Производство авиационной продукции</h2>
     <!--  <p class="crd-text">Подробнее...</p> -->
    </div>
  </div>
  <div class="crd" routerLink="/start/mainpage-metal" >
    <div class="crd-img"
      style='background-image: url("assets/categories/Услуги1.jpg");'>
    </div>
    <div class="crd-info">
      <h2 class="crd-heading">Услуги по металлообработке</h2>
     <!--  <p class="crd-text">Подробнее...</p> -->
    </div>
  </div>
</div>

<!-- <div class="line"  routerLink="/home/" style='background-image: url("assets/categories/Услуги2.jpg");'>
  <div class="info">
    <h2 class="heading">Услуги по металлообработке</h2>
  </div>
</div> -->
</html>
