<div>



  <div class="container-big">
    <div class="container-mini">
      <h1 class="title">Российская компания «Мелита-К» -</h1>
      <h4 class="title-mini">ведущий российский производитель  и разработчик новейших технологий в области производства режущего инструмента от микроскальпелей до боевого и охотничьего оружия.</h4>
    </div>
    <div class="cont">
      <div class="mini-cont">
          <h3>
              Надежность
          </h3>
          <h4>
            Компания Мелита-К была основана в 1994 году.
          </h4>
          <p>
            За семнадцать лет своей деятельности наша компания зарекомендовала себя как надежный партнер в сотрудничестве с известными российскими и западными компаниями. Главный офис фирмы, а также производственные мощности находятся в городе Казани (Россия).
          </p>
      </div>

      <div class="mini-cont">
          <h3>
            Качество
          </h3>
          <h4>
            Наши ножи обладают высочайшим качеством.
          </h4>
          <p>
            Высокая прочность, острота, эластичность и износостойкость режущих инструментов достигается за счет использования уникальных технологий в производстве. На российских оружейных выставках ножи нашей фирмы практически всегда получают призы и дипломы.
          </p>
      </div>
    </div>
  </div>

  <div class="main">
    <div routerLink="{{go_knives}}" class="container-cat">
      <div class="container-left">
        <div class="minic">
          <h3>
              НОЖИ
          </h3>
          <h4 >
            Мы специализируемся на выпуске широкого ассортимента ножей для бытовых, профессиональных и специальных нужд.
          </h4>
          <p class="non">
            Наши изделия отличаются непревзойденным качеством материалов, безупречным дизайном и превосходными эксплуатационными характеристиками.          </p>
        </div>
      </div>
      <div class="container-right">
        <div class="container-image">
          <img class="image" src="assets/about-company/Н1.jpg" >
        </div>
        <div class="container-image non">
          <img class="image" src="assets/about-company/Н2.jpg" >
        </div>
      </div>
    </div>

    <div routerLink="{{go_avia}}" class="container-cat">
      <div class="container-left">
        <div class="minic">
          <h3>
              АВИАЦИЯ
          </h3>
          <h4 >
            Мы обеспечиваем качество нашей авиационной продукции, строго соответствующее всем отраслевым стандартам.
          </h4>
          <p class="non">
            Каждое изделие, выходящее с нашего производства, проходит тщательный контроль на соответствие заданным техническим характеристикам.          </p>
        </div>
      </div>
      <div class="container-right">
        <div class="container-image">
          <img class="image" src="assets/about-company/Лопатка1.jpg" >
        </div>
        <div class="container-image non">
          <img class="image" src="assets/about-company/Лопатка2.jpg" >
        </div>
      </div>
    </div>

    <div routerLink="{{go_metal}}"  class="container-cat">
      <div class="container-left">
        <div class="minic">
          <h3>
              УСЛУГИ ПО МЕТАЛЛООБРАБОТКЕ
          </h3>
          <h4 >
            Наша компания предлагает широкий спектр услуг по металлообработке, используя передовые технологии.
          </h4>
          <p class="non">
            Наше производство оснащено современным оборудованием, позволяющим обрабатывать детали из различных металлов с высокой точностью и эффективностью.          </p>
        </div>
      </div>
      <div class="container-right">
        <div class="container-image">
          <img class="image" src="assets/categories/Услуги1.jpg" >
        </div>
        <div class="container-image non">
          <img class="image" src="assets/categories/Услуги1.jpg" >
        </div>
      </div>
    </div>


    <div class="container-cat-g">
      <div class="container-left-g">
        <div class="minic-g">
          <h3>
            Гарантия качества и комфорт обслуживания
          </h3>
          <div class="minic-div">
          <p>
            Ваше доверие - наш главный приоритет. Именно поэтому на всю продукцию, выпускаемую нашей компанией, предоставляется надежная гарантия сроком в один год. Мы уверены в безупречном качестве и долговечности наших изделий, будь то высокотехнологичные авиационные компоненты, специализированные ножи или любые другие металлические изделия, прошедшие тщательную обработку на нашем производстве.
          </p>
          <p>
            Приобрести нашу продукцию можно у широкой сети поставщиков и дилеров, с которыми мы тесно сотрудничаем. Если по какой-либо причине товар вам не подойдет, вы можете спокойно вернуть его обратно продавцу, который оперативно организует процесс его обмена или возврата денежных средств. Мы гарантируем, что каждая ваша покупка будет приносить вам только положительные эмоции и полное удовлетворение.
          </p>
          </div>
          <p class="w100">
            Доверяя нам, вы можете быть уверены в получении высококачественной продукции и безупречного сервиса на всех этапах сотрудничества. Мы ценим ваш выбор и прилагаем все усилия, чтобы оправдать ваше доверие.
          </p>
        </div>
      </div>
    </div>


<!-- <div class="end-text">
  <h3>
    Сотрудничая с нами, Вы приобретаете надежного делового партнера с наилучшими условиями для сотрудничества!
  </h3>
  <h4>
    «Наши клиенты всегда правы, их доверие превыше всего»<br>
    Мы надеемся на долгое и перспективное сотрудничество.
  </h4>
</div> -->

  </div>
</div>

