<div>
  <div class="container-mini">
    <h1 class="title">Каталог</h1>
    <h4 class="title-mini">Широкий выбор для профессионалов и любителей</h4>
    <h4 class="title-mini2" *ngIf="mytag!='Все'">{{mytag}}</h4>
  </div>

  <div class="big-container">

    <div id="f" class="filters" *ngIf='(this.mytag=="Все"||this.mytag=="Гражданские ножи"||this.mytag=="Боевое холодное оружие"||this.mytag=="Хозяйственно-бытовые ножи"||this.mytag=="Скелетные ножи"||this.mytag=="Ножи с фиксированным клинком"||this.mytag=="Складные ножи"||this.mytag=="Подарочные ножи" ||this.mytag=="Ножи для дайвинга")'>

      <h1 class="logo">
        <a><span>Фильтры</span></a>
      </h1>

      <div >
          <div class="custom-slider">
          <h3> Общая длина</h3>
          <ng5-slider [(value)]="min_od" [(highValue)]="max_od" [options]="options_od" (userChange)="getEvent_od($event)"></ng5-slider>
        </div>

        <div class="custom-slider">
          <h3> Длина клинка</h3>
          <ng5-slider [(value)]="min_dk" [(highValue)]="max_dk" [options]="options_dk" (userChange)="getEvent_dk($event)"></ng5-slider>
        </div>

<!--         <div class="custom-slider">
          <h3> Ширина клинка</h3>
          <ng5-slider [(value)]="min_sh" [(highValue)]="max_sh" [options]="options_sh" (userChange)="getEvent_sh($event)"></ng5-slider>
        </div> -->

        <div class="custom-slider">
          <h3> Толщина обуха</h3>
          <ng5-slider [(value)]="min_to" [(highValue)]="max_to" [options]="options_to" (userChange)="getEvent_to($event)"></ng5-slider>
        </div>


        <div class="custom-slider">
          <h3> Покрытие клинка</h3>
          <div class="checking">
            <h5> Антиблик</h5>
            <input type="checkbox" id="Checkbox_Anti" value="anti" (change)="OnChange_Anti($event)" [checked]="const_check_anti" >
          </div>

          <div class="checking">
            <h5> Камуфляж</h5>
            <input type="checkbox" id="Checkbox_Camou" value="camouflage" (change)="OnChange_Camou($event)"  [checked]="const_check_camou" >
          </div>

          <div class="checking">
            <h5> Черный хром</h5>
            <input type="checkbox" id="Checkbox_Chrome" value="chrome" (change)="OnChange_Chrome($event)"  [checked]="const_check_chrome">
          </div>
        </div>

        <div class="custom-slider">
          <h3> Рукоять</h3>
          <div class="checking">
            <h5> Термоэластопласт</h5>
            <input type="checkbox" id="Checkbox_Rez" value="rez" (change)="OnChange_Rez($event)" [checked]="const_check_rez" >
          </div>

          <div class="checking">
            <h5> Кожа/Латунь</h5>
            <input type="checkbox" id="Checkbox_Koz" value="koz" (change)="OnChange_Koz($event)" [checked]="const_check_koz" >
          </div>

          <div class="checking">
            <h5> Дерево</h5>
            <input type="checkbox" id="Checkbox_Der" value="der" (change)="OnChange_Der($event)" [checked]="const_check_der" >
          </div>

          <div class="checking">
            <h5> Микарта</h5>
            <input type="checkbox" id="Checkbox_Mik" value="mik" (change)="OnChange_Mik($event)" [checked]="const_check_mik" >
          </div>

          <div class="checking">
            <h5> Полипропилен</h5>
            <input type="checkbox" id="Checkbox_Pol" value="pol" (change)="OnChange_Pol($event)" [checked]="const_check_pol" >
          </div>

          <div class="checking">
            <h5> Скелетного типа</h5>
            <input type="checkbox" id="Checkbox_Met" value="met" (change)="OnChange_Met($event)" [checked]="const_check_met" >
          </div>
        </div>

        <div class="custom-slider">
          <h3> Ножны в комплекте </h3>
          <div class="checking">
            <h5>Натуральная кожа</h5>
            <input type="checkbox" id="Checkbox_NK" value="nk" (change)="OnChange_NK($event)" [checked]="const_check_nk" >
          </div>

          <div class="checking">
            <h5> Кордура</h5>
            <input type="checkbox" id="Checkbox_K" value="k" (change)="OnChange_K($event)" [checked]="const_check_k" >
          </div>

          <div class="checking">
            <h5> АБС-пластик</h5>
            <input type="checkbox" id="Checkbox_P" value="p" (change)="OnChange_P($event)" [checked]="const_check_p" >
          </div>
        </div>





      <button id="bf" class="but_filters" (click)="filters_start()">Применить &rarr;</button>
      <button  class="but_filters_del" (click)="filters_del()">Очистить &rarr;</button>
      </div>
  </div>




    <div class="container-right"><div>

      <div class="sort-search">
        <div *ngIf='(this.mytag=="Все"||this.mytag=="Гражданские ножи"||this.mytag=="Боевое холодное оружие"||this.mytag=="Хозяйственно-бытовые ножи"||this.mytag=="Скелетные ножи"||this.mytag=="Ножи с фиксированным клинком"||this.mytag=="Складные ножи"||this.mytag=="Подарочные ножи" ||this.mytag=="Ножи для дайвинга")' id="open_but"  class="btn-slider btn-open">
          <i (click)="open_filters()" class="fa fa-angle-double-right icon-slider icon-prev"></i>
        </div>
        <div *ngIf='(this.mytag=="Все"||this.mytag=="Гражданские ножи"||this.mytag=="Боевое холодное оружие"||this.mytag=="Хозяйственно-бытовые ножи"||this.mytag=="Скелетные ножи"||this.mytag=="Ножи с фиксированным клинком"||this.mytag=="Складные ножи"||this.mytag=="Подарочные ножи" ||this.mytag=="Ножи для дайвинга")' id="close_but" class="btn-slider btn-close n" >
          <i (click)="close_filters()" class="fa fa-angle-double-left icon-slider icon-prev"></i>
        </div>

        <div *ngIf='(this.mytag=="Прочее"||this.mytag=="Услуги")' id="open_but"  class="btn-slider btn-open vn">
          <i (click)="open_filters()" class="fa fa-angle-double-right icon-slider icon-prev"></i>
        </div>
        <div *ngIf='(this.mytag=="Прочее"||this.mytag=="Услуги")' id="close_but" class="btn-slider btn-close vn" >
          <i (click)="close_filters()" class="fa fa-angle-double-left icon-slider icon-prev"></i>
        </div>

        <details *ngIf="this.mytag=='Все'" id="details" class="custom-select">
          <summary name="radios" class="radios">
            <input  type="radio" name="item" id="default"  title="Выберите категорию..." disabled checked>
            <input (click)="func()"type="radio" name="item" id="ALL" title="Все категории">
            <input  (click)="func()" type="radio" name="item" id="G" title="Гражданские ножи">
            <input (click)="func()"type="radio" name="item" id="BHO" title="Боевое холодное оружие">
            <input  (click)="func()" type="radio" name="item" id="H" title="Хозяйственно-бытовые ножи">
            <input (click)="func()"type="radio" name="item" id="P" title="Прочее">
            <input (click)="func()"type="radio" name="item" id="U" title="Услуги">
                      </summary>
          <ul class="list">
            <li>
              <label for="ALL">Все категории
              <span></span>
              </label>
            </li>
            <li>
              <label for="G">Гражданские ножи
              <span></span>
              </label>
            </li>
            <li>
              <label for="BHO">Боевое холодное оружие</label>
              <span></span>
            </li>
            <li>
              <label for="H">Хозяйственно-бытовые ножи</label>
              <span></span>
            </li>
            <li>
              <label for="P">Прочее</label>
              <span></span>
            </li>
            <li>
              <label for="U">Услуги</label>
            </li>
          </ul>
        </details>
      </div>
      <div>

      <app-not-found
      [visible]="!items || !items.length"
      resetLinkText="Вернуться">
      </app-not-found>

      <div class="catalog">
        <div *ngFor="let item of filter_items | sort : selectedField" class="container" >
            <img  class="image" src="assets/картинки/{{item.imageUrl}}" (error) ="changeSource($event, this.no_photo)"/>
<!--             <img *ngIf="item.imageUrl=='Гравировка' || item.imageUrl=='Серрейтор' || item.imageUrl=='АдаптерБалон' || item.imageUrl=='КлипсаКайдекс' || item.imageUrl=='СпинкаВодолазная' || item.imageUrl=='КошкаВодолазная' || item.imageUrl=='НожныАдаптер'" class="image" src="assets/картинки/НетФото.jpg"/>
 -->
            <div class="user-info">
              <h2 class="titlik">{{item.name}}</h2>
                  <span class="text" routerLink="/home/tag/{{item.tags![0]}}">{{item.tags![0]}}</span><br>
                  <span class="text mobile-del" routerLink="/home/tag/{{item.tags![1]}}">{{item.tags![1]}}</span>
              <button class="but" routerLink="/home/item/{{item.id}}">Подробнее &rarr;</button>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>




