<div class="content">
  <div class="container-mini">
    <div class="minic">
      <h3>
        Хозяйственные ножи
      </h3>
      <p>
        Отличаются улучшенной структурой металла, высокой износоустойчивостью режущей кромки, коррозионностойкой зеркальной поверхностью и идеальной формой лезвия.
      </p>
      <h3>
        Туристические ножи
      </h3>
      <p>
        Разделены по классификации на городские, вспомогательного типа, ножи для выживания, самообороны и другие, являются незаменимыми помощниками в современном мегаполисе и в полевых условиях.
      </p>
      <h3>
        Боевые ножи
      </h3>
      <p>
        Являются отдельной гордостью предприятия, и многие из них приняты на вооружение специальных подразделений ФСБ и МВД России.
      </p>
    </div>

<!--     <div class="second-minic">
      <p>
        Для развития направления производства ножевых изделий, специалистами ЗАО «Мелита-К» в сотрудничестве с компанией ЗАО ПФК «Проммет-сплав», была специально разработана и запатентована новая марка нержавеющей стали 70Х16МФС-Ш (патент RU23696657 C1).
        Повышенная износоустойчивость и отличные упругопластические характеристики новой марки нержавеющей стали позволяют производить различную гамму ножевых изделий: хозяйственные, туристические и боевые ножи.
      </p>
    </div> -->
  </div>


  <div class="main">
    <!-- 1     -->
    <div id="c1" class="container" (click)="open('c1')">
      <div  class="each">
        <div class="container-left ">
          <div class="minics ">
            <h2>
              НОВАЯ МАРКА СТАЛИ
            </h2>
            <p id="p1" class="block-with-text">
              Специалистами АО «Мелита-К» в сотрудничестве с компанией ЗАО ПФК «Проммет-сплав», была специально разработана и запатентована новая марка нержавеющей стали 70Х16МФС-Ш (патент RU23696657 C1).
              Повышенная износоустойчивость и отличные упругопластические характеристики новой марки нержавеющей стали позволяют производить различную гамму ножевых изделий: хозяйственные, туристические и боевые ножи.
                </div>
        </div>
        <div class="container-right ">
          <div class="container-image-right" style="background-image: url('assets/proizvodstvo/1n.jpg');"></div>
        </div>
      </div>
    </div>

        <!-- 2 -->
        <div id="c2" class="container" (click)="open('c2')">
          <div  class="each">
            <div class="container-right reverse-logo ">
              <div class="container-image-left" style="background-image: url('assets/proizvodstvo/2n.jpg');">
              </div>
            </div>
            <div class="container-left reverse-name">
              <div  class="minics reverse">
                <h2>
                  ИЗГОТОВЛЕНИЕ КЛИНКОВ
                </h2>
                <p id="p2" class="block-with-text">
                  Запатентованный нами метод холодной пластической деформации позволяет получать ножи с оптимальной формой клинка.  Благодаря «мягкому» деформированию металла достигается значительная степень деформации в сочетании с высокой производительностью. Технология также позволяет получить декоративное рельефное изображение на боковой поверхности клинка без ущерба для его функциональных свойств. Уникальность нашего подхода подтверждена патентами РФ №2041005 и №2195382.
                </p>
              </div>
            </div>
          </div>
        </div>

    <!-- 3     -->
        <div  id="c3" class="container" (click)="open('c3')">
          <div  class="each">
            <div class="container-left ">
              <div class="minics ">
                <h2>
                  ИЗГОТОВЛЕНИЕ МЕДИЦИНСКОГО РЕЖУЩЕГО ИНСТРУМЕНТА
                </h2>
                <p id="p3" class="block-with-text">
                  Применяемые технологии, специально созданные станки и технологическая оснастка,
                  позволили осуществлять принципиально новый подход к изготовлению медицинского
                  режущего инструмента: микроскальпелей, применяемых российскими и зарубежными
                  хирургами; стерилизационных медицинских биксов, за производство которых в России
                  практически никто не берётся.
                </p>
              </div>
            </div>
            <div class="container-right ">
              <div class="container-image-right" style="background-image: url('assets/proizvodstvo/1n.jpg');"></div>
            </div>
          </div>
        </div>
    <!-- 4 -->
        <div id="c4"  class="container" (click)="open('c4')">
          <div  class="each">
            <div class="container-right reverse-logo ">
              <div class="container-image-left" style="background-image: url('assets/proizvodstvo/2n.jpg');">
              </div>
            </div>
            <div class="container-left reverse-name">
              <div  class="minics reverse">
                <h2>
                  ТЕХНОЛОГИЯ УЛЬТРАЗВУКОВОЙ КОВКИ
                </h2>
                <p id="p4"  class="block-with-text">
                  Технология ультразвуковой ковки вызвала интерес у европейских производителей бритвенных лезвий. Она позволяет получить режущую кромку шириной 1-3 мкм.

                </p>
              </div>
            </div>
          </div>
        </div>
    <!-- 5 -->
        <div id="c5" class="container" (click)="open('c5')">
          <div  class="each">
            <div class="container-left ">
              <div class="minics ">
                <h2>
                  НОЖИ ДЛЯ ВЫРЕЗКИ АВТОМОБИЛЬНЫХ СТЕКОЛ
                </h2>
                <p id="p5" class="block-with-text">
                  Технологические решения в производстве ножей для вырезки автомобильных стекол и их высокое качество давно оценены на европейском рынке. ЗАО «Мелита-К», в партнерстве с немецкой компанией «KAN-Tech GmbH», является надежным поставщиком для своих зарубежных заказчиков.
                </p>
              </div>
            </div>
            <div class="container-right ">
              <div class="container-image-right" style="background-image: url('assets/proizvodstvo/4n.jpg');"></div>
            </div>
          </div>
        </div>


</div>
